.admin__content {
    max-width: 100%;
}

.section__title {
    text-align: center;
}


.search-form {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.nav-area {
    width: 80%;;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.nav__export-button {
    
}

.contact-table__content {
    width: 80%;
    margin: 0 auto;
}