.header__inner {
    padding: 15px 20px;
    max-width: 100%;
    display: flex;
}

.header__logo {
    color: #7F7268;
    font-size: 24px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header-utilities {
    display: flex;
    margin-left: 0;
}

body {
    color: #7F7268;
    font-size: 14px;
}